<?xml version="1.0"?>
<model>
  <name>ros_camera</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Austin Buchan</name>
   <email>abuchan@berkeley.edu</email>
  </author>

  <description>
    Camera that publishes image to ROS topic.
  </description>
</model>
