<?xml version="1.0" ?>
<model>
    <name>collision_tank</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Austin Buchan</name>
        <email>abuchan@berkeley.edu</email>
    </author>
    <description>A 10-meter cube transparent tank with collision boundaries.</description>
</model>
